.footer{
    padding: 100px 0;
    &-title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        color: #222;
        font-size: 30px;
        letter-spacing: -0.5px;
        margin: 0 0 0 0;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
}