.price{
    padding: 100px 0;
    &-table{
        overflow-x: auto;
        min-height: 0.01%;
        margin-bottom: 20px;
        table{
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: auto;
            padding: 0;
            width: 100%;
            max-width: 100%;
            margin: 0 auto 20px auto;
            tbody{
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                tr{
                    display: table-row;
                    vertical-align: inherit;
                    border-color: black;
                    td{
                        color: #222;
                        font-weight: normal;
                        img{
                            width: 40px;
                            margin: -7px 10px -4px -5px;
                        }
                    }
                }
            }
        }
    }
}