.students {
    padding: 50px 0;
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
    }
    &__card{
        width: calc(33.33333% - 20px);
        height: 300px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}